<!--div class="jumbotron">
  <p class="lead">
    <img src="/static/app/images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div-->

<div class="row marketing">
    <!-- toolbox -->
    <div class="col-xs-10">
        <button class="btn btn-default" ng-click="passButton(todos)" ng-disabled="!previous">&lsaquo;&lsaquo;</button>
        <button class="btn btn-default" ng-click="passButton(previous)" ng-disabled="!previous">&lsaquo;</button>
        Page {{ curr }} of {{ page }}
        <button class="btn btn-default" ng-click="passButton(next)" ng-disabled="!next">&rsaquo;</button>
        <button class="btn btn-default" ng-click="passButton(todos + '?page=' + page)" ng-disabled="!next">&rsaquo;&rsaquo;</button>
        {{ count }} items
    </div>
    <div class="col-xs-2">
        <input class="form-control" type="number" ng-change="setPage(curr)" ng-model="curr" min="1" max="{{ page }}" />
    </div>

    <!-- list -->
    <div class="col-xs-12">
        <br/><h4>List</h4>
        <ul>
            <li ng-repeat="todo in data"><strong>{{ todo.title }}</strong> - {{ todo.description }} - {{ todo.created|date }} by <strong>{{todo.user}}</strong></li>
        </ul>
    </div>

</div>
